$brand-primary: #ff9804;
$brand-secondary: #ffd723;

:root {
  --brand-primary: #{$brand-primary};
}

.button {
  background-color: #3d4852;
  color: white;
  padding: 0.65rem 1.2rem;
  border: 0.0625rem solid #3d4852;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);

  &:focus {
    outline: 5px solid rgba($brand-primary, 0.6);
  }
}

.trap {
  border: 1px solid rgba($brand-secondary, 0.5);
  border-radius: 0.25rem;
  padding: 1em 2em;

  &.is-active {
    background-color: rgba($brand-secondary, 0.3);
  }

  *:focus {
    outline: 5px solid rgba($brand-primary, 0.6);
  }
}
